{% extends 'EventBundle::layout.html.twig' %}

{% block body %}

  <section class="event-show">
    <header id="menu">
      <a class="link" href="{{ path('event_index') }}">&larr; back to the events list</a>
    </header>

    <article>
      <header class="map-container">
        <img
          src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.location | url_encode }}&markers=color:red%7Ccolor:red%7C{{ event.location | url_encode }}&zoom=14&size=300x300&maptype=roadmap&sensor=false"/>
      </header>
      <section>
        <h1>
          {{ event.name }}
          {% if app.user == event.owner %}
            <a class="button" href="{{ path('event_edit', {'id': event.id}) }}">
              edit
            </a>
          {% endif %}
        </h1>

        <dl>
          <dt>where:</dt>
          <dd>{{ event.location }}</dd>

          <dt>when:</dt>
          <dd>{{ event.time | date('g:ia / l M j, Y') }}</dd>

          <dt>what:</dt>
          <dd>{{ event.details }}</dd>

          <dt>who:</dt>
          <dd>
            {{ event.attendees|length }} attendees

            <ul class="users">
              {% for attendee in event.attendees %}
                <li>{{ attendee }}</li>
              {% else %}
                <li>nobody yet!</li>
              {% endfor %}
            </ul>
            {% if event.hasAttendee(app.user) %}
              <a href="{{ path('event_unattend', {'id': event.id}) }}"
                 class="btn btn-danger btn-xs js-attend-toggle">
                I am not attending
              </a>
            {% else %}
              <a href="{{ path('event_attend', {'id': event.id}) }}"
                 class="btn btn-success btn-xs js-attend-toggle">
                I want to attend
              </a>
            {% endif %}
          </dd>
        </dl>
      </section>
    </article>
  </section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
    $(document).ready(function () {
      $('.js-attend-toggle').on('click', function (e) {
        e.preventDefault()

        var $anchor = $(this)
        var url = $(this).attr('href') + '.json'

        $.post(url, null, function (data) {
          if (data.attending) {
            var message = 'You are registered for this event'
          } else {
            var message = 'You are unregistered from this event'
          }

          $anchor.after('<span class="label label-default">' + message +'</span>')
          $anchor.hide()
        })
      })
    })
  </script>
{% endblock %}